# http://editorconfig.org
root = true

[*]
end_of_line = LF
indent_style = space
charset = utf-8

[*.cs]
indent_size = 4
# disabling documentation file header
dotnet_diagnostic.SA1633.severity = none
# disabling "parameter takes multiple lines error
dotnet_diagnostic.SA1118.severity = none
# disabling single type per file

[*.js]
indent_size = 2
