version: "3.9"
services:
  client:
    image: "node:16"
    user: "node"
    working_dir: /home/node/app
    environment:
      - DISABLE_ESLINT_PLUGIN=true
      - REACT_APP_API_URL=http://localhost:5000
      - REACT_APP_WAKELOCK_PING_INTERVAL=1000
    volumes:
      - ./client:/home/node/app
    ports:
      - "3000:3000"
    command: "yarn start"
    depends_on:
      - server
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    environment:
      - ConnectionStrings__SessionContext
      - ConnectionStrings__BlobStorage
      - AllowedOrigin
    ports:
      - "5000:5000"
      - "5001:5001"
    depends_on:
      - postgres
      - storage-emulator
    volumes:
      - "./server:/source"
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=companion
    ports:
      - "5432:5432"
  storage-emulator:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
